<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Rick and Morty Database</h3>
    </div>
    <hr>
    <div class="container">

                    <div class="thumbnail">
                        <img src="<%= characters.image %>">
                        <div class="caption text-center">
                            <h4>ID: <%= characters.id %></h4>
                            <p>NAME: <%= characters.name %></p>
                            <p>STATUS: <%= characters.status %></p>
                            <p>SPECIES: <%= characters.species %></p>
                            <p>GENDER: <%= characters.gender %></p>
                            <p>ORIGIN: <%= characters.origin.name %></p>
                        </div>
                    </div>


        </div>
        <hr>
        <div class="footer">
            <p>Rick and Morty API Take Home Project</p>
        </div>
    </body>
</html>